{% extends "layout.html" %}
{% block content %}
    <table id="tblx" class="table table-sm table-striped table-bordered" cellspacing="0" width="15%"  >
        <thead class="thead-light">
            <tr>
                <th>Año</th>
                <th>Poblacion</th>
            </tr>
        </thead>  
        <tbody>
        {% for i in data %}
            <tr>P
                <td>{{ i.TIME_PERIOD }}</td>
                <td>{{ i.OBS_VALUE|int }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $( document ).on( function() {
            $("#tblx").dataTable();    
        });
    </script>
{% endblock %}