<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <h1> Data visualization app </h1>
    {% if name  %}
      <p>Hello {{ name }},</p>
    {% else %}
      <p>Hello,</p>
    {% endif %}
    <h1> Profile Flask </h1>
    <p> Flask is a micro web framework written in Python.</p>
    <p> Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>
  </body>
</html>